[submodule "nolava_config"]
	path = nolava_config
	url = git@github.com:chowooseoung/nolava_config.git
[submodule "rez-packages"]
	path = rez-packages
	url = git@github.com:chowooseoung/rez-packages.git